* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #1F9EFF;
    font-size: 3rem;
    grid-column: span 2;
    grid-row: 1 / 2;
    font-weight: 500;
    color: white;
    padding: 1rem 5rem;
}

/* SIDEBAR */

.sidebar {
    background: #ADDCFF;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: gray;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar span {
    align-self: center;
}

.filters,
.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-container {
    background: white;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 1.2rem;
}

.sidebar-container:hover {
    border: 1px solid gray;
}

.projects-title,
.todo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: 500;
    margin: 0 25%;
    color: gray;
}

.todo-title {
    font-size: 2.5rem;
    border-bottom: 2px solid #EBF6FF;
}

.content-container {
    font-size: 1.1rem;
    padding: 1rem;
    border-bottom: 2px solid #EBF6FF;
}

.content-container:hover {
    background: #EBF6FF;
}

/* ADD BUTTON */

.add-button {
    width: 1.5rem;
}

.add-button:hover {
    width: 2rem;
}