/* Set default font-family, font-weight, and other global styles */
* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

/* Global styles for the body and grid layout */
body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #1F9EFF;
    font-size: 3rem;
    grid-column: span 2;
    grid-row: 1 / 2;
    color: white;
    padding: 1rem 5rem;
}

/* SIDEBAR */

.sidebar {
    background: #ADDCFF;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: gray;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 200px;
}


.sidebar span {
    align-self: center;
}

/* Styling for filters and projects sections within the sidebar */
.filters,
.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Styling for individual items in the sidebar */
.sidebar-container {
    background: white;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* Styling for the hover effect on individual sidebar items */
.sidebar-container:hover {
    border: 1px solid gray;
    cursor: pointer;
}

/* Styling for the selected item in the sidebar */
.selected {
    background: #ffdeb3;
    border: 1px solid #ffdeb3;
}

/* Styling for the projects title and todos title */
.projects-title,
.todos-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 25%;
    color: gray;
    min-width: 300px;
}

/* Styling for todo information */
.todo-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    flex: 1;
}

/* Styling for todo information and sidebar container texts */
.todo-info span,
.sidebar-container span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling for the checkbox */
.checkbox {
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 5px;
    border: 2px solid gray;
    background: white;
}

/* Styling for the complete checkbox */
.complete {
    background: url(./images/icons8-check-30.png) no-repeat center;
    background-size: fill;
}

/* Styling for the todos title */
.todos-title {
    font-size: 2.5rem;
    border-bottom: 2px solid #EBF6FF;
}


/* Styling for the content container */
.content-container {
    font-size: 1.1rem;
    padding: 1rem;
    border-bottom: 2px solid #EBF6FF;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

}

/* Styling for the hover effect on content container */
.content-container:hover {
    background: #EBF6FF;
    cursor: pointer;
}

/* Styling for the date section */
.date {
    font-size: 0.75rem;
    margin-left: auto;
    white-space: nowrap;
}

/* BUTTONS */
/* Styling for hover effect on images */
img:hover {
    filter: grayscale(100%) contrast(10000%) brightness(0%);
    cursor: pointer;
}

/* Styling for action buttons */
.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

/* Styling for add, edit, delete, and info buttons */
.add-button,
.edit-button,
.delete-button,
.info-button {
    height: 1.5rem;
}

.add-button {
    background: url(../src/images/icons8-add-32.png);
}

.edit-button {
    background: url(../src/images/icons8-edit-30.png);
}

.delete-button {
    background: url(../src/images/icons8-delete-24.png);
}

.info-button {
    background: url(../src/images/icons8-info-24.png);
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
}

/* Styling for the modal container */
.modal-container {
    background-color: white;
    margin: 10% auto;
    border: 1px solid gray;
    width: max(320px, 30%);
    display: flex;
    flex-direction: column;
}


.modal-title {
    grid-row: 1 / 2;
    background: #1F9EFF;
    font-size: 2rem;
    color: white;
    padding: 1rem 1.5rem;
}

.modal-content {
    grid-row: 2 / 3;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* DIFFERENT MODAL DISPLAY CONTAINERS */

#new-project-modal,
#edit-project-modal,
#new-todo-modal,
#edit-todo-modal,
#todo-info-modal {
    display: none;
}



#todo-info-modal .attribute-container {
    border-bottom: 2px solid #EBF6FF;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.attribute-container .attribute {
    width: 150px;
}

.attribute-container .value {
    color: gray;
    font-size: 1rem;
    flex: 1;
}

.attribute-container .todo-description {
    height: 100px;
    overflow-y: scroll;
}

/* FORM STYLES */

input,
select {
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.modal-content .action-buttons {
    justify-content: flex-end;
    gap: 1rem;
}

.required {
    color: red;
}

.error-text {
    display: none;
    color: red;
    font-size: 0.8rem;
}

button {
    background: #1F9EFF;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

button:hover {
    background: #1b87da;
}